<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.js"></script>		
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="../views/style.css" type="text/css">
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="column-body" class="columns">
			<div id="header">
				Bibliotecario 
			</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div id="content">
				<% if(session['error'] == true) %>
				<div id="error-message" style = "padding-top: 20px; margin:0 auto; text-align:center;"><b>Username or Password Incorrect. Please try again.</b></div>
				<% end %>
				<form id="login-form" method="post" action="/views/login.html">
					<div id="username-div">
						<label for="username-field" id= "username-title">User Name</label>
						<input name="username-field" id="username-field" type="text"></input></div>
					<div id="password-div">
						<label for="password-field" id= "password-title">Password</label>
						<input name="password-field" id="password-field" type="password"></input></div>
					<div id="submit-button-div">
						<input id="submit-button" type="submit" value="Sign In"></input>
						<a href="/views/register.html">Create New Account </a>
					</div>

				</form>
				<br><br><br>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>
