<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.js"></script>		
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="style.css" type="text/css">
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="column-body" class="columns">
			<div id="header">
				<div id="header-left">
					Bibliotecario <-- What language is this??
				</div>
				<div id="header-right">
					
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div id="content">
				<% if(session['error'] == true) %>
				<div id="error-message"><b>Username or Password Incorrect. Please try again.</b></div>
				<% end %>
				<form id="login-form" method="post" action="/views/login.html">
					<label for="username-field">User Name</label>
					<input name="username-field" id="username-field" type="text"></input>
					<label for="password-field">Password</label>
					<input name="password-field" id="password-field" type="text"></input>
					<input id="submit-button" type="submit" value="Anmelden"></input>
				</form>
				<a href="/views/register.html">new Account Creation ...</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>
