<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.js"></script>		
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="wrapper">
		<div id="column-body" class="columns">
			<div id="header">
				<div id="header-left">
					Perpustakaan
				</div>
				<div id="header-right">
					
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div id="content">
				<br>
				<a href="/views/login.html">Return to Home Page</a>
				<% if(session['registration_error']) %>
				<div id="error-message"><b><%= session['registration_error'] %></b></div>
				<% end %>
				<form id="register-form" method="post" action="/views/register.html"><br>
				<div id="reg-username-div">
					<label for="username-field" id= "reg-username-title">User Name</label>
					<input name="username-field" id="reg-username-field" type="text"></input><br /></div>
				<div id="reg-password-div">
					<label for="password-field" id= "reg-password-title">Password</label>
					<input name="password-field" id="reg-password-field" type="password"></input><br /></div>
				<div id="repeat-div">
					<label for="repeat-field" id= "repeat-title">Repeat Password</label>
					<input name="repeat-field" id="repeat-field" type="password"></input><br /></div>
				<div id="firstname-div">
					<label for="firstname-field" id="firstname-title">First Name</label>
					<input name="firstname-field" id="firstname-field" type="text"></input><br /></div>
				<div id="lastname-div">
					<label for="lastname-field" id="lastname-title">Last Name</label>
					<input name="lastname-field" id="lastname-field" type="text"></input><br /></div><br>
				<input id="submit-button" type="submit" value="Register New Account"></input>
				</form>
			</div>
			<div class="clear"></div><br><br>
		</div>
	</div>
</body>
</html>
