<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.js"></script>		
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="style.css" type="text/css">
	<script type="text/javascript">

	$(document).ready(function() {
		$("#content").load("bookman.html")

		$(".nav-button").mouseenter(function() {
			if(!$(this).hasClass("selected")) {
				if($.browser.webkit) {
					$(this).css("background-image", "-webkit-linear-gradient(top, #F6F6F6, #DFDFDF)")
				}
				else if($.browser.opera) {
					$(this).css("background-image", "-o-linear-gradient(top, #F6F6F6, #DFDFDF)")
				}
				else if($.browser.mozilla) {
					$(this).css("background-image", "-moz-linear-gradient(top, #F6F6F6, #DFDFDF)")
				}
				else {
					$(this).css("background-color", "#F6F6F6")
				}

				$(this).css("border-right", "1px solid rgb(180,180,180)")
			}
		})

		$(".nav-button").mouseleave(function() {
			$(this).css("background-image", "")
		})

		$(".nav-button").click(function() {
			if(this.id == "logout")
				window.location = '/views/logout.html'
			else {
				$(".selected").removeClass("selected")
				$("#content").load('/views/' + this.id + ".html")
				$(this).addClass("selected")
				$(this).css("background-image", "")
				$(this).css("border-right", "")
			}
		})


	})

	</script>
</head>
<body>
	<div id="wrapper">
		<div id="column-body" class="columns">
			<div id="header">
				<div id="header-left">
					Bibliotecario - ADMINISTRATION PAGE
				</div>
				<div id="header-right">
					<ul>
						<li id="bookman" class="nav-button selected"><div class="nav-text">Book Manager</div></li></li>
						<li id="search" class="nav-button"><div class="nav-text">Search</div></li>
						<li id="custman" class="nav-button"><div class="nav-text">Customer Manager</div></li></li>
						<li id="logout" class="nav-button"><div class="nav-text">Log Out</div></li></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div id="content">
				Hello
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>
