<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/colorbox/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="colorbox.css" type="text/css">
	<link rel="stylesheet" href="style.css" type="text/css">
	<script type="text/javascript">

	$(document).ready(function() {
		
		var isMSIE = /*@cc_on!@*/0;

		if (isMSIE) {
			alert("Unfortunately, Perpustakaan is currently not supported on Internet Explorer. The best experience will be found on Google Chrome, Mozilla Firefox, Apple Safari, or Opera")
		}
		
		$.ajaxSetup({
			cache: false
		});
		
		$("#content").load("bookman_admin.html")

		$(".nav-button").click(function() {
			if(this.id == "logout")
				window.location = '/views/logout.html'
			else {
				$(".selected").removeClass("selected")
				if(this.id == "bookman_admin") {
					$("#page-name").html("Book Manager");
				} else if(this.id == "booksearch_admin") {
					$("#page-name").html("Book Search");
				} else if(this.id == "custman") {
					$("#page-name").html("Customer Manager");
				} else if(this.id == "custsearch") {
					$("#page-name").html("Customer Search");
				}
				$("#content").load('/views/' + this.id + ".html")
				$(this).addClass("selected")
			}
		})

		$("#page-name").html("Book Manager");
		
	})

	</script>
</head>
<body>
	<div id="wrapper">
		<div id="column-body" class="columns">
			<div id="header">
				Perpustakaan<Br> <h4>Administration - <span id="page-name"></span>
			<div class="clear"></div></h4>
			</div>
			<div class="clear"></div>
			<div id= "navigation-div">
				<div id= "navigation">
					<ul>
						<li id="bookman_admin" class="nav-button selected"><div class="nav-text">Book Manager</div></li></li>
						<li id="booksearch_admin" class="nav-button"><div class="nav-text">Book Search</div></li>
						<li id="custsearch" class="nav-button"><div class="nav-text">Customer Search</div></li>
						<li id="custman" class="nav-button"><div class="nav-text">Customer Manager</div></li></li>
						<li id="logout" class="nav-button"><div class="nav-text">Log Out</div></li></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<div id="content">
				
			</div>
			<div class="clear"></div><br><br>
		</div>
	</div>
</body>
</html>
