<head>
	<style type="text/css">
	
		#no-results-area {
			color: red;
		}
	
	.centered {
		text-align: center;
	}

	label {
		width: 100px;
		display: inline-block;
	}

	input {
		width: 220px;
		display: inline-block;
	}

	#book-search-form {
		width: 900px;
	}

	</style>
	<script type="text/javascript">
		
		$(document).ready(function() {
			
			$("#book-search-form").submit(function() {
				var book_id = $("#book_id").val()
				var title = $("#title").val()
				var publisher = $("#publisher").val()
				var author = $("#author").val()
				$("#title").val("")
				$("#publisher").val("")
				$("#author").val("")
				$("#book_id").val("")
				
				$.ajax({
					type: "POST",
					url: "/booksearch.json",
					data: {
						search:JSON.stringify({
							book_id: book_id,
							title: title,
							publisher: publisher,
							author: author
						})
					},
					success: function(results_json) {
						results = JSON.parse(results_json)
						if(results.length > 0) {
							$("#error-area").html("")
							$("#search-table").html("<table id=\"search-result-table\" border=\"1\">\n<tr class=\"save\">\n<th style=\"width: 30%\">Title</th>\n<th style=\"width: 30%\">Author</th>\n<th style=\"width: 27%\">Publisher</th><th style=\"width: 13%\">Action</th>\n</tr>\n\n</table>")
							for(var i in results) {
								var result = results[i]
								if(i%2 == 0) {
										$("#search-result-table").append("<tr class=\"removable\">\n<td>" + result["title"] +"</td>\n<td>" + result["author"][0]["name"] + "</td>\n<td>" + result["publisher"] + "</td>\n</tr>")
								}
								else {
										$("#search-result-table").append("<tr class=\"alt removable\">\n<td>" + result["title"] +"</td>\n<td>" + result["author"][0]["name"] + "</td>\n<td>" + result["publisher"] + "</td>\n</tr>")
								}
							}
						}
						else {
							$("#search-table").html("")
							$("#error-area").html("No results found.")
						}
					}
				})
				return false;
			})
			
		})
		
	</script>
</head>
<body>
	<div id="content-toolbar"></div>
	<div id="content-body">
		<div id="error-area"></div>
		<div id="success-area"></div>
		<form id="book-search-form">
				<label for="book_id" id="book-id-label">Book ID</label>
				<input id="book_id" type="number" min="1"></input><br />
				<label for="title" id="title-label">Book Title</label>
				<input id="title" type="text"></input><br />
				<label for="author" id="author-label">Author</label>
				<input id="author" type="text"></input><br />
				<label for="publisher" id="publisher-label">Book Publisher</label>
				<input id="publisher" type="text"></input><br />
				<input type="submit" class="btn" id="search-btn" value="Search"></input>
		</form>
		<div class="clear"></div>
		<div id="search-table" style="margin-top: 1cm;"></div>
		<div id="no-results-area"></div>
	</div><br>
	<div class="clear"></div>
</body>