<head>
	<script type="text/css">
		.centered {
		text-align: center;	
		}
		
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
		
		var current_edit_id = 0;

		function addcolorbox() {
			$(".inline").colorbox({inline:true, width:"50%", height:"60%", href: "#inline_content"});
		}
		
		function buttonNode(node, book) {
			var editbutton = $("<button></button>")
			editbutton.addClass("edit-button btn btn-warning inline cboxElement")
			editbutton.append("<i class='icon-pencil'></i>")
			console.log(book);
			$(editbutton).data("book-id", book.id)
			$(editbutton).data("book-title", book.title)
			$(editbutton).data("book-author", book.author)
			$(editbutton).data("book-publisher", book.publisher)
			$(editbutton).click(function() {
				current_edit_id = $(this).data("book-id")
				$('#edittitle').val($(this).data('book-title'))
				$('#editauthor').val($(this).data('book-author'))
				$('#editpublisher').val($(this).data('book-publisher'))
			})
			var deletebutton = $("<button></button>")
			deletebutton.addClass("delete-button btn btn-danger")
			deletebutton.append("<i class='icon-remove'></i>")
			$(deletebutton).data("book-id", book.id)
			attach_events_for_delete_button($(deletebutton))
			node.append(editbutton)
			node.append(deletebutton)
		}

		function updateTable() {
			$.ajax({
				type: "GET",
				contentType: "application/json",
				url: "/books.json",
				success: function(books_json) {
					$("tr.removable").remove()
					var books = JSON.parse(books_json)
					var checkoutbooks = []
					var j = 1
					for(var i in books) {
						book = books[i]
						if(!book.checkout) {
							var node = $("<td></td>")
							buttonNode(node, book)
							node.addClass('centered')
							if(j%2 == 0) {
								$('#book-table').append("<tr class=\"alt removable\">\n<td>" + book.title +"</td>\n<td>" + book.author + "</td>\n<td>" + book.publisher + "</td>\n</tr>")
								$('#book-table tr:last').append(node)
							}
							else {
								$('#book-table').append("<tr class=\"removable\">\n<td>" + book.title +"</td>\n<td>" + book.author + "</td>\n<td>" + book.publisher + "</td>\n</tr>")
								$('#book-table tr:last').append(node)
							}
							j++;
						}
						else {
							checkoutbooks.push(book)
						}
					}
					var j = 0
					if(checkoutbooks.length > 0) {
						for(var i in checkoutbooks) {
							
							$("#checkout-area").html("<table id=\"checkout-book-table\" border=\"1\"> <tr class=\"save\"> <th style = \"width: 25%\">Title</th> <th style = \"width: 25%\">Author</th> <th style = \"width: 15%\">Publisher</th> <th style = \"width: 15%\">Checked Out By</th> <th style = \"width: 15%\">Return Date</th> </tr>")
							
							var book = checkoutbooks[i]
							var checkoutData = {}
							$.ajax({
								type: "GET",
								contentType: "application/json",
								url: "/checkout/book/" + book.id + ".json",
								success: function(checkout_json) {
									checkout = JSON.parse(checkout_json)
									checkoutData["book_title"] = checkout[0].book_title
									checkoutData["cust_name"] = checkout[0].cust_name
									checkoutData["publisher"] = checkout[0].publisher
									checkoutData["author"] = checkout[0].author
									checkoutData["return_date"] = checkout[0].return_date
									if (j%2 ==0) {
										$('#checkout-book-table').append("<tr class=\"removable\">\n<td>" + checkoutData["book_title"] +"</td>\n<td>" + checkoutData["author"][0]["name"] + "</td>\n<td>" + checkoutData["publisher"] + "</td>\n<td>" + checkoutData["cust_name"] + "</td>\n<td>" + checkoutData["return_date"] + "</td>\n</tr>")
										j++;
									} else {
										$('#checkout-book-table').append("<tr class=\"alt removable\">\n<td>" + checkoutData["book_title"] +"</td>\n<td>" + checkoutData["author"][0]["name"] + "</td>\n<td>" + checkoutData["publisher"] + "</td>\n<td>" + checkoutData["cust_name"] + "</td>\n<td>" + checkoutData["return_date"] + "</td>\n</tr>")
										j++;
									}
								}
							})
						}
					}
					else {
						$("#checkout-area").html("There are no currently checked out books")
					}
					addcolorbox()
				},
				error: function() {
					$("#error-area").html("There was an error. Please try again.")
					setTimeout(function() {
						$("#error-area").html("")
					}, 5000)
				}
			})
		}

		updateTable()

		$("#add-book-form").submit(function() {
			var titletext = $("#titletext").val()
			var authortext = $("#authortext").val()
			var publishertext = $("#publishertext").val()

			$("#titletext").val("")
			$("#authortext").val("")
			$("#publishertext").val("")

			$.ajax({
				type: "POST",
				url: "/books.json",
				data: {
					book:JSON.stringify({
						title: titletext,
						author: authortext,
						publisher: publishertext
					})
				},
				success: function() {
					updateTable()
				},
				error: function() {
					$("#error-area").html("There was an error. Please try again")
					setTimeout(function() {
						$("#error-area").html("")
					}, 5000)
				}
			})
			return false;
		})

			$("#edit-book-form").submit(function() {
				$("#colorbox-error-area").html("")
				if($("#edittitle").val() == "" || $("#editauthor").val() == "" || $("#editpublisher").val() == "") {
					$("#colorbox-error-area").html("No fields can be blank")
					setTimeout(function() {
						$("#colorbox-error-area").html("")
					}, 3000)
				}
				else {
					var title = $("#edittitle").val().trim()
					var author = $("#editauthor").val().trim()
					var publisher = $("#editpublisher").val().trim()
					
					$("#edittitle").val("")
					$("#editauthor").val("")
					$("#editpublisher").val("")
					
					if(title.length == 0 || author.length == 0 || publisher.length == 0) {
						$("#colorbox-error-area").html("All fields must have non-whitespace characters")
						setTimeout(function() {
							$("#colorbox-error-area").html("")
						}, 3000)
					}
					else {
						$("#colorbox-msg-area").html("Please wait, Updating records...")

						$.ajax({
							type: "PUT",
							url: "/book/" + current_edit_id +".json",
							data: {
								title: title,
								author: author,
								publisher: publisher
							},
							success: function() {
								$("#colorbox-msg-area").html("")
								$.colorbox.close()
								updateTable()
							},
							error: function() {
								$("#error-area").html("There was an error. Please try again")
								setTimeout(function() {
									$("#error-area").html("")
								}, 5000)
							}
						})
					}
				}
				return false;
			})

		function attach_events_for_delete_button(node) {
			$(node).click(function() {
				var conf = confirm("Are you sure you wish to delete this book?")
				if(conf == true) {
					$.ajax({
						type: "DELETE",
						url: "/book/" + $(node).data("book-id") +".json",
						success: function() {
							updateTable()
						},
						error: function() {
							$("#error-area").html("There was an error. Please try again")
							setTimeout(function() {
								$("#error-area").html("")
							}, 5000)
						}
					})
				}
			})
		}

	})

	</script>
</head>
<body>
	<div id="content-body">
		<div id="book-list">
			<div id="error-area"></div>
			<h3>Available Books</h3>
			<form id="add-book-form">
			<table id="book-table" border="1">
				<tr class="save">
					<th style = "width: 30%">Title</th>
					<th style = "width: 30%">Author</th>
					<th style = "width: 27%">Publisher</th>
					<th style = "width: 13%">Action</th>
				</tr>
				<tr>
					<td><input type="text" placeholder="Book title" id="titletext" style = "width: 95%; margin-bottom: 0px"></td>
					<td><input type="text" placeholder="Book author" id="authortext" style = "width: 95%; margin-bottom: 0px"></td>
					<td><input type="text" placeholder="Book publisher" id="publishertext" style = "width: 95%; margin-bottom: 0px"></td>
					<td><input type="submit" id="create-btn" style= "width: 96%" value="Add Book"></td>
				</tr>
			</table>
			</form>

			<br /><h3>Checked Out Books</h3>
			<div id="checkout-area">
				
				</table>
			</div>
		</div>
	</div>
	<div style="display:none">
		<div id='inline_content' style='padding:10px; background:#fff;'>
			<h3>Please enter new information for the book:</h3>
			<form id="edit-book-form" class="colorbox-form">
				<input type="text" placeholder="Book title" class="colorbox-element" id="edittitle" style = "width: 95%; margin-bottom: 0px">
				<input type="text" placeholder="Book author" class="colorbox-element" id="editauthor" style = "width: 95%; margin-bottom: 0px">
				<input type="text" placeholder="Book publisher" class="colorbox-element" id="editpublisher" style = "width: 95%; margin-bottom: 0px">
				<input type="submit" id="edit-btn" class="btn-primary colorbox-element" style="width: 20%" value="Edit Book">
				<div id="colorbox-msg-area"></div>
				<div id="colorbox-error-area"></div>
			</form>
		</div>
	</div>
</body>
