<head>
	<style type="text/css">
	
		#error-area {
			color: red;
		}
	
	</style>
	<script type="text/javascript">
		
		$(document).ready(function() {
			
			$("#book-search-form").submit(function() {
				var book_id = $("#book_id").val()
				var title = $("#title").val()
				var publisher = $("#publisher").val()
				var author = $("#author").val()
				$("#title").val("")
				$("#publisher").val("")
				$("#author").val("")
				$("#book_id").val("")
				
				$.ajax({
					type: "POST",
					url: "/booksearch.json",
					data: {
						search:JSON.stringify({
							book_id: book_id,
							title: title,
							publisher: publisher,
							author: author
						})
					},
					success: function(results_json) {
						results = JSON.parse(results_json)
						if(results.length > 0) {
							$("#error-area").html("")
							$("#search-table").html("<table id=\"search-result-table\" border=\"1\">\n<tr class=\"save\">\n<th>Title</th>\n<th>Author</th>\n<th>Publisher</th>\n</tr>\n\n</table>")
							for(var i in results) {
								var result = results[i]
								if(i%2 == 0) {
										$("#search-result-table").append("<tr class=\"removable\">\n<td>" + result["title"] +"</td>\n<td>" + result["author"][0]["name"] + "</td>\n<td>" + result["publisher"] + "</td>\n</tr>")
								}
								else {
										$("#search-result-table").append("<tr class=\"alt removable\">\n<td>" + result["title"] +"</td>\n<td>" + result["author"][0]["name"] + "</td>\n<td>" + result["publisher"] + "</td>\n</tr>")
								}
							}
						}
						else {
							$("#search-table").html("")
							$("#error-area").html("No results found.")
						}
					}
				})
				return false;
			})
			
		})
		
	</script>
</head>
<body>
	<div id="content-toolbar">
		
	</div>
	<div id="content-body">
		Search for...

		<form id="book-search-form">
			<div>
				Book ID:
				<input id="book_id" type="number" min="1"></input><br />
				Book title:
				<input id="title" type="text"></input><br />
			</div>
			<div>
				Book publisher:
				<input id="publisher" type="text"></input><br />
			</div>
			<div>
				Author:
				<input id="author" type="text"></input><br />
			</div>
			<input type="submit" class="btn" id="search-btn" value="Search"></input>
			<div class="clear"></div>
		</form>
		<div id="search-table">

		</div>
		<div id="error-area"></div>
		</div><br>
		<div class="clear"></div>
</body>