<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>		
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="style.css" type="text/css">
	<script type="text/javascript">

	$(document).ready(function() {
		$.ajaxSetup({
			cache: false;
		});
		
		$("#content").load("/views/profile.html")

		$(".nav-button").click(function() {
			if(this.id == "logout")
				window.location = '/views/logout.html'
			else {
				$(".selected").removeClass("selected")
				$("#content").load('/views/' + this.id + ".html")
				$(this).addClass("selected")
			}
		})


	})

	</script>
</head>
<body>
	<div id="wrapper">
		<div id="column-body" class="columns">
			<div id="header">
					Perpustakaan - Customer
				<div class="clear"></div>
			</div>
				<div class="clear"></div>
				<div id="navigation-div">
					<div id= "navigation">
						<ul>
							<li id="profile" class="nav-button selected"><div class="nav-text">Profile</div></li>
							<li id="bookman_cust" class="nav-button"><div class="nav-text">Book Manager</div></li></li>
							<li id="booksearch_cust" class="nav-button"><div class="nav-text">Search for books</div></li></li>
							<li id="logout" class="nav-button"><div class="nav-text">Log Out</div></li></li>
						</ul>
					</div>
				</div>			
			<div class="clear"></div>
			<div id="content">
				
			</div>
			<div class="clear"></div>
		</div><br><br>
	</div>
</body>
</html>
