<head>
	<style type="text/css">
	
		#no-results-area {
			color: red;
		}
	
	.centered {
		text-align: center;
	}

	label {
		width: 100px;
		display: inline-block;
	}

	input {
		width: 220px;
		display: inline-block;
	}

	#book-search-form {
		width: 900px;
	}

	</style>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#customer-search-form").submit(function() {
				var cust_id = $("#cust_id").val()
				var firstname = $("#firstname").val()
				var lastname = $("#lastname").val()
				$("#firstname").val("")
				$("#lastname").val("")
				$("#cust_id").val("")
				
				$.ajax({
					type: "POST",
					url: "/custsearch.json",
					data: {
						search:JSON.stringify({
							cust_id: cust_id,
							firstname: firstname,
							lastname: lastname
						})
					},
					success: function(results_json) {
						results = JSON.parse(results_json)
						if(results.length > 0) {
							$("#error-area").html("")
							$("#search-table").html("<table id=\"search-result-table\" border=\"1\">\n<tr class=\"save\">\n<th style=\"width: 12%;\">Customer ID</th>\n<th style=\"width: 30%;\">First Name</th>\n<th style=\"width: 30%;\">Last Name</th>\n<th style=\"width: 28%;\">Registration Date</th>\n</tr>\n\n</table>")
							for(var i in results) {
								var result = results[i]
								if(i%2 == 0) {
										$("#search-result-table").append("<tr class=\"removable\">\n<td>" + result["ID"] +"</td>\n<td>" + result["firstname"] + "</td>\n<td>" + result["lastname"] + "</td>\n<td>" + result["registration"] + "</td>\n</tr>")
								}
								else {
										$("#search-result-table").append("<tr class=\"alt removable\">\n<td>" + result["ID"] +"</td>\n<td>" + result["firstname"] + "</td>\n<td>" + result["lastname"] + "</td>\n<td>" + result["registration"] + "</td>\n</tr>")
								}
							}
						}
						else {
							$("#search-table").html("")
							$("#error-area").html("No results found.")
						}
					}
				})
				return false;
			})
			
		})
		
	</script>
</head>
<body>
	<div id="content-body">
			<form id="customer-search-form">
				<label for="cust_id" id="customer-id-label">Customer ID</label>
				<input id="cust_id" type="number" min="1"></input><br />
				<label for="firstname" id="first-name-label">First Name</label>
				<input id="firstname" type="text"></input><br />
				<label for="lastname" id="last-name-label">Last Name</label>
				<input id="lastname" type="text"></input><br />
				<input type="submit" class="btn" id="search-btn" value="Search"></input>
			</form>
			<div id="search-table" style="margin-top: 1cm;"></div>
			<div id="error-area"></div>
	</div>
</body>