<head>
	<style type="text/css">

	</style>

	<script type="text/javascript">
	$(document).ready(function() {
		
		var current_edit_id = 0;
		
		function updateTable() {
			$.ajax({
				type: "GET",
				contentType: "application/json",
				url: "/customers.json",
				success: function(custs_json) {
					$("tr.removable").remove();
					customers = JSON.parse(custs_json)
					for(var i in customers) {
						cust = customers[i]
						if(!cust.admin) {
							var node = $("<td></td>")
							var editbutton = $("<button></button>")
							editbutton.addClass("edit-button btn btn-warning inline cboxElement")
							editbutton.append("<i class='icon-pencil'></i>")
							$(editbutton).data("cust-id", cust.id)
							$(editbutton).click(function() {
								current_edit_id = $(this).data("cust-id")
							})
							var deletebutton = $("<button></button>")
							deletebutton.addClass("delete-button btn btn-danger")
							deletebutton.append("<i class='icon-remove'></i>")
							$(deletebutton).data("cust-id", cust.id)
							attach_events_for_delete_button($(deletebutton))
							node.append(editbutton)
							node.append(deletebutton)

							if(i%2 == 0) {
								$('#cust-table').append("<tr class=\"removable\">\n<td>" + cust.id +"</td>\n<td>" + cust.firstname + "</td>\n<td>" + cust.lastname + "</td>\n<td>" + cust.registration + "</td>\n</tr>")
								$('#cust-table tr:last').append(node)
							}
							else {
								$('#cust-table').append("<tr class=\"alt removable\">\n<td>" + cust.id +"</td>\n<td>" + cust.firstname + "</td>\n<td>" + cust.lastname + "</td>\n<td>" + cust.registration + "</td>\n</tr>")
								$('#cust-table tr:last').append(node)
							}
						}
					}
					$(".inline").colorbox({inline:true, width:"50%", height:"60%", href: "#inline_content"});
				}
			})
		}

		updateTable()


		$("#add-customer-form").submit(function() {
			var firstname = $("#firstnametext").val()
			var lastname = $("#lastnametext").val()

			$("#titletext").val("")
			$("#authortext").val("")

			$.ajax({
				type: "POST",
				url: "/customers.json",
				data: {
					customer:JSON.stringify({
						firstname: firstname,
						lastname: lastname
					})
				},
				success: function() {
					updateTable()
				}
			})
			return false;
		})

		$("#edit-cust-form").submit(function() {
			$("#colorbox-error-area").html("")
			if($("#editfirstname").val() == "" || $("#editlastname").val() == "") {
				$("#colorbox-error-area").html("No fields can be blank")
				setTimeout(function() {
					$("#colorbox-error-area").html("")
				}, 3000)
			}
			else {
				var firstname = $("#editfirstname").val().trim()
				var lastname = $("#editlastname").val().trim()
				if(firstname.length == 0 || lastname.length == 0) {
					$("#colorbox-error-area").html("All fields must have non-whitespace characters")
					setTimeout(function() {
						$("#colorbox-error-area").html("")
						}, 3000)
					}
					else {
						$("#colorbox-msg-area").html("Please wait, Updating records...")

						$("#editfirstname").val("")
						$("#editlastname").val("")

						$.ajax({
							type: "PUT",
							url: "/customer/" + current_edit_id +".json",
							data: {
								firstname: firstname,
								lastname: lastname
							},
							success: function() {
								$("#colorbox-msg-area").html("")
								$.colorbox.close()
								updateTable()
							},
							error: function() {
							}
						})
					}
				}
			return false;
		})

		function attach_events_for_delete_button(node) {
			$(node).click(function() {
				var conf = confirm("Are you sure you wish to delete this customer?")
				if(conf == true) {
					$.ajax({
						type: "DELETE",
						url: "/customer/" + $(node).data("cust-id") +".json",
						success: function() {
							updateTable()
						},
						error: function() {
						}
					})
				}
			})
		}


	})

	</script>
</head>
<body>
	<div id="content-toolbar">
		
	</div>
	<div id="content-body">
		<div id="cust-list">
			<table id="cust-table" border="1">
				<tr class="save">
					<th style = "width: 12%">Customer ID</th>
					<th style = "width: 30%">First Name</th>
					<th style = "width: 30%">Last Name</th>
					<th style = "width: 15%">Registration Date</th>
					<th style = "width: 13%">Action</th>
				</tr>
			</table>
		  <div class="clear"></div>
		</div>
	</div>
	<div style="display:none">
		<div id='inline_content' style='padding:10px; background:#fff;'>
			<h3>Please enter new information for the customer:</h3>
			<form id="edit-cust-form" class="colorbox-form">
				<input type="text" placeholder="First name" class="colorbox-element" id="editfirstname" style = "width: 95%; margin-bottom: 0px">
				<input type="text" placeholder="Last name" class="colorbox-element" id="editlastname" style = "width: 95%; margin-bottom: 0px">
				<input type="submit" id="edit-btn" class="btn-primary colorbox-element" style="width: 20%" value="Edit Customer">
				<div id="colorbox-msg-area"></div>
				<div id="colorbox-error-area"></div>
			</form>
		</div>
	</div>
</body>