<head>
	<style type="text/css">

	</style>

	<script type="text/javascript">
	$(document).ready(function() {
		
		function updateTable() {
			$.ajax({
				type: "GET",
				contentType: "application/json",
				url: "/customers.json",
				success: function(custs_json) {
					console.log(custs_json)
					$("tr.removable").remove();
					customers = JSON.parse(custs_json)
					for(var i in customers) {
						cust = customers[i]
						console.log(cust)
						var node = $("<td></td>")
						var editbutton = $("<button></button>")
						editbutton.addClass("edit-button btn btn-warning")
						editbutton.append("<i class='icon-pencil'></i>")
						$(editbutton).data("cust-id", cust.id)
						attach_events_for_edit_button($(editbutton))
						var deletebutton = $("<button></button>")
						deletebutton.addClass("delete-button btn btn-danger")
						deletebutton.append("<i class='icon-remove'></i>")
						$(deletebutton).data("cust-id", cust.id)
						attach_events_for_delete_button($(deletebutton))
						node.append(editbutton)
						node.append(deletebutton)

						if(i%2 == 0) {
							$('#cust-table').append("<tr class=\"removable\">\n<td>" + cust.id +"</td>\n<td>" + cust.firstname + "</td>\n<td>" + cust.lastname + "</td>\n<td>" + cust.registration + "</td>\n</tr>")
							$('#cust-table tr:last').append(node)
						}
						else {
							$('#cust-table').append("<tr class=\"alt removable\">\n<td>" + cust.id +"</td>\n<td>" + cust.firstname + "</td>\n<td>" + cust.lastname + "</td>\n<td>" + cust.registration + "</td>\n</tr>")
							$('#cust-table tr:last').append(node)
						}
					}
				}
			})
		}

		updateTable()


		$("#create-btn").click(function() {
			var firstname = $("#firstnametext").val()
			var lastname = $("#lastnametext").val()

			$("#titletext").val("")
			$("#authortext").val("")

			$.ajax({
				type: "POST",
				url: "/customers.json",
				data: {
					customer:JSON.stringify({
						firstname: firstname,
						lastname: lastname
					})
				},
				success: function() {
					updateTable()
				}
			})
		})

		function attach_events_for_edit_button(node) {
			$(node).click(function() {
				var content = prompt("What is the customer's last name?", "")
				$.ajax({
					type: "PUT",
					url: "/customer/" + $(node).data("cust-id") +".json",
					data: {
						newcontent: content
					},
					success: function() {
						updateTable()
					},
					error: function() {
					}
				})
			})
		}

		function attach_events_for_delete_button(node) {
			$(node).click(function() {
				var conf = confirm("Are you sure you wish to delete this customer?")
				if(conf == true) {
					$.ajax({
						type: "DELETE",
						url: "/customer/" + $(node).data("cust-id") +".json",
						success: function() {
							updateTable()
						},
						error: function() {
						}
					})
				}
			})
		}


	})

	</script>
</head>
<body>
	<div id="content-toolbar">
		Customer Manager
	</div>
	<div id="content-body">
		<input type="text" placeholder="First name" id="firstnametext">
		<input type="text" placeholder="Last name" id="lastnametext">
		<button type="btn" id="create-btn">Add customer</button>
		<div id="cust-list">
			<table id="cust-table" border="1">
				<tr class="save">
					<th>Customer ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Registration Date</th>
					<th>Edit/Delete</th>
				</tr>
			</table>
		</div>
	</div>
</body>