	body {
		font-family:Helvetica, Arial, sans-serif;
		font-size:15px;
		background-color:rgb(200,210,225);
	}

	.columns {
		position:relative;
		clear:both;
	}

	#wrapper {
		margin:auto;
		width:1000px;
		background:white;
		box-shadow: 0px 5px 25px #555;
		border-radius: 15px;
		overflow: hidden;
	}

	#column-body {
		border-radius: 15px;
		overflow:hidden;
	}

	.centered {
		text-align: center;
	}

	#header {
		height:50px;
		color:#444;
		text-shadow:-2x 2px 0px #f2e7c7;
		background-color:white;
		border-top:1px solid #999;
		text-align: center;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom: 1px solid #999;
		color:#000;
		padding:25px 0px 8px 0px;
		/*
		background-color: rgb(15,100,100);
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(15,123,70)), to(rgb(70,70,15)));
		background-image:-webkit-linear-gradient(top, rgb(15,123, 70), rgb(40,40,10));
		background-image:-moz-linear-gradient(top, rgb(15,100,100), rgb(175,73,100));
		background-image:-o-linear-gradient(top, rgb(15,100,100), rgb(175,73,100));
		background-image:linear-gradient(to bottom, rgb(15,100,100), rgb(175,73,100));
*/

background-image: url(http://i200.photobucket.com/albums/aa242/nina_kittie/greenflors.gif);
background-size: 180px;
background-repeat: repeat-x;
		text-indent: 5px;
		font-weight:bold;
		font-size:30px;
		font-family:"Georgia";
background-repeat: repeat-x;
		text-indent: 5px;
		font-weight:bold;
		font-size:30px;
		font-family:"Georgia";
	}

	#navigation-div {
		margin:0 auto;
		text-align: center;

	}

	#navigation {

	}

	#navigation li {
		cursor:pointer;
		font-size:12px;
		padding:5px 10px 5px 10px;
		display:inline-block;
		border-left: 1px solid #460D0D ; 
		border-right:1px solid #460D0D ;
		border-bottom: 1px solid #460D0D ;

		background-color:rgb(230,230,235);
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(230,230,235)), to(rgb(200,200,205)));
		background-image:-webkit-linear-gradient(top, rgb(230,230,235), rgb(200,200,205));
		background-image:-moz-linear-gradient(top, rgb(230,230,235), rgb(200,200,205));
		background-image:-o-linear-gradient(top, rgb(230,230,235), rgb(200,200,205));
		background-image:linear-gradient(to bottom, rgb(230,230,235), rgb(200,200,205));

		background: rgb(200,200,205);
	}

	#navigation li:hover {
		background-color:rgb(200,200,205);
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(200,200,205)), to(rgb(230,230,235)));
		background-image:-webkit-linear-gradient(top, rgb(200,200,205), rgb(230,230,235));
		background-image:-moz-linear-gradient(top, rgb(200,200,205), rgb(230,230,235));
		background-image:-o-linear-gradient(top, rgb(200,200,205), rgb(230,230,235));
		background-image:linear-gradient(to bottom, rgb(200,200,205), rgb(230,230,235));
		border-left: 1px solid #460D0D ; 
		border-right:1px solid #460D0D ;
		border-bottom: 1px solid #460D0D ;
	}

	#navigation li.selected {
		cursor:pointer;
		font-size:12px;
		font-weight:bold;
		background-color:rgb(200,200,205);
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(200,200,205)), to(rgb(230,230,235)));
		background-image:-webkit-linear-gradient(top, rgb(200,200,205), rgb(230,230,235));
		background-image:-moz-linear-gradient(top, rgb(200,200,205), rgb(230,230,235));
		background-image:-o-linear-gradient(top, rgb(200,200,205), rgb(230,230,235));
		background-image:linear-gradient(to bottom, rgb(200,200,205), rgb(230,230,235));
		border-left: 1px solid #460D0D ; 
		border-right:1px solid #460D0D ;
		border-bottom: 1px solid #460D0D ;
	}

	#navigation ul {
		padding:0px;
		margin:0px;
		list-style-type:none;
	}

	#content-body table {
		border:1px solid #888;
		border-collapse:collapse;
		width: 100%;
		margin:auto;

	}

	#content-body tr {
		background-color:rgb(239,239,239);
		height:25px;

	}

	#content-body tr.alt {
		background-color:transparent;
	}

	#content-body tr:hover {
		background-color:rgb(230,230,230);
	}

	#content-body th {
		height:35px;
		width:50%;
		background-color:#ecf3ca;
	
	/*
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(74,181,124)), to(rgb(53,114,82)));
		background-image:-webkit-linear-gradient(top, rgb(74,181,124), rgb(53,114,82));
		background-image:-moz-linear-gradient(top, rgb(74,181,124), rgb(53,114,82));
		background-image:-o-linear-gradient(top, rgb(74,181,124), rgb(18,116,65));
		background-image:linear-gradient(to bottom, rgb(74,181,124), rgb(18,116,65));
*/

		font-weight:bold;
		font-size:14px;
		/*text-shadow:0px 1px 1px #000;*/
	}

	#content-body td {
		padding-left:5px;

	}

	#selected-button {
		position:absolute;
		z-index:-1;
	}

	#content {
		margin:0 auto;
		position:relative;
		z-index:0;
		width: 90%;
	}

	#username-title {
		padding-right: 3px;
		font-size: 15px;
	}

	#username-field {
		width: 30%;
	}

	#username-div {
		padding-top: 20px;
		text-align: center;
		margin:0 auto;
	}

	#password-title {
		font-size: 15px;
		padding-right: 11px;
	}

	#password-div {
		text-align: center;
		margin:0 auto;

	}

	#password-field {
		width: 30%;
	}

	#submit-button-div {
		margin:0 auto;
		text-align: center;

	}

	#error-message {
		text-align: center;
		color: red;
	}

	#register-form {
		margin:0 auto;
		text-align: center;
		width: 40%;
	}


	#reg-username-title {
		width: 100%;
		text-align: left;
		padding-right: 25%;
	}

	#reg-username-field {
		width: 50%;

	}

	#reg-password-title {
		text-align: left;
		padding-right: 27%;
	}

	#reg-password-field {
		width: 50%;

	}

	#repeat-title {
		text-align: left;
		padding-right: 13%;
	}

	#repeat-field {
		width: 50%;

	}

	#firstname-title {
		text-align: left;
		padding-right: 25%;
	}

	#firstname-field {
		width: 50%;
	}

	#lastname-title {
		text-align: left;
		padding-right: 25%;
	}

	#lastname-field {
		width: 50%;
	}


	h3 {
		margin:0px;
		margin-left:3px;
		padding-bottom:7px;
		font-weight:bold;
		font-size:16px;
	
		text-transform: uppercase;
		/*text-shadow: 0px -1px 0px #f2e7c7;*/
	}

		h4 {
		margin:0px;
		margin-top:10px;
		margin-left:0px;
		padding-bottom:4px;
		font-weight:bold;
		font-size:17px;
		FONT-family:arial;
		
		/*text-shadow: 0px -1px 0px #f2e7c7;*/
	}

	.clear {
		clear:both;
	}

	.page-header {
		color:#ecf3ca;
		font-weight:bold;
		font-size:16px;
	}
	
	form {
		margin-bottom:0px;
	}

	.content-toolbar {
		color:white;
		padding:10px 0px 10px 0px;
		padding-left:15px;
		background-color:#ecf3ca;
	/*
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(236,110,225)), to(rgb(175,73,161)));
		background-image:-webkit-linear-gradient(top, rgb(236,110,225), rgb(175,73,161));
		background-image:-moz-linear-gradient(top, rgb(236,110,225), rgb(175,73,161));
		background-image:-o-linear-gradient(top, rgb(236,110,225), rgb(175,73,161));
		background-image:linear-gradient(to bottom, rgb(236,110,225), rgb(175,73,161));
		*/

		text-indent: 5px;
		font-weight:bold;
		text-shadow:0px 1px 1px #000;
		font-size:15px;
	}
	
	#content-body {
		padding-top:20px;
	}